{% if sentry and sentry.loaderScriptId %}
  <script nonce="{{ cspNonce }}">
    window.sentryOnLoad = function() {
      Sentry.init({
        dsn: "{{ sentry.dsn }}",
        release: "probation-search-ui@{{ version }}",
        environment: "{{ sentry.environment }}",
        integrations: [Sentry.browserTracingIntegration(), Sentry.replayIntegration()],
        tracesSampleRate: {{ sentry.tracesSampleRate }},
        replaysSessionSampleRate: {{ sentry.replaySampleRate }},
        replaysOnErrorSampleRate: {{ sentry.replayOnErrorSampleRate }},
        initialScope: {
          user: { username: "{{ user.username }}" },
        },
      });
    };
  </script>
  <script src="https://js.sentry-cdn.com/{{ sentry.loaderScriptId }}.min.js" nonce="{{ cspNonce }}" crossorigin="anonymous"></script>
{% endif %}