{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Contacts" %}
{% set mainClasses = "app-container govuk-body" %}
{% set headerLink = "/contacts/search" %}

{% block content %}
    {% from "probation/case-search/macro.njk" import caseSearch %}
    {{ caseSearch({
        id: "search",
        results: searchResults,
        hint: {
            classes: 'moj-search__hint',
            html: 'Use any combination of names, dates of birth, ID numbers, telephone numbers, towns and postcodes.'
        },
        label: {
            text: "Search for people on probation",
            classes: "moj-search__label govuk-label--l",
            isPageHeading: true
        }
    }) }}
{% endblock %}