{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitle = applicationName + " - Contacts" %}
{% set mainClasses = "app-container govuk-body" %}
{% set headerLink = "/contacts/compare" %}

{% block beforeContent %}
    {{ govukBackLink({ text: "Back", href: "/contacts/search" }) }}
    <span class="govuk-body-s govuk-!-display-inline-block">| {{ crn }}</span>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-!-margin-bottom-5">
            <div class="moj-search">
                <form method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    {{ govukInput({
                        classes: 'moj-search__input',
                        label: {
                            text: 'Compare contact search results',
                            classes: 'moj-search__label govuk-label--l',
                            isPageHeading: true
                        },
                        hint: {
                            text: 'Search for contacts by notes, type, or outcome. The results will be displayed side by side for comparison below.'
                        },
                        id: 'contact-search-input',
                        name: 'contact-search-input',
                        type: 'search',
                        value: query
                    }) }}

                    {{ govukButton({
                        classes: 'moj-search__button',
                        text: 'Search'
                    }) }}
                </form>
            </div>
        </div>
        {% if query %}
            <div class="govuk-grid-row contact-search-comparison">
                <div class="govuk-grid-column-one-half">
                    {% if resultsA %}
                        <table class="govuk-table">
                            <caption class="govuk-table__caption">
                                <div class="govuk-table__caption--m">Result set 1</div>
                            </caption>

                            <tbody class="govuk-table__body">
                            {% for result in resultsA.results %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <div class="result-index">
                                            <span title="Score: {{ result.score }}">{{ loop.index }}</span>
                                        </div>
                                    </td>
                                    <td class="govuk-table__cell govuk-table--small-text">
                                        {% if result.notes | length > 0 %}
                                            <p class="notes">{{ result.notes | escape }}</p>
                                        {% else %}
                                            <p>No notes</p>
                                        {% endif %}
                                        {{ govukDetails({
                                            summaryText: "Details",
                                            html: "<p><strong>Date</strong>: " + (result.date | formatDate) + " " + (result.startTime | default('')) + "</p>
                                                   <p><strong>Type</strong>: " + result.typeDescription + "</p>
                                                   <p><strong>Outcome</strong>: " + (result.outcomeDescription | default('N/A')) + "</p>
                                                   <p><a target='delius' href='" + deliusUrl + "/NDelius-war/delius/JSP/deeplink.xhtml?component=Contact&componentId=" + result.id + "'>View in Delius</a></p>"
                                        }) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <p>Loaded {{ resultsA.results | length }} results in {{ resultsA.timeTaken }}</p>
                    {% else %}
                        <p class="govuk-body">No results</p>
                    {% endif %}
                </div>
                <div class="govuk-grid-column-one-half">
                    {% if resultsB %}
                        <table class="govuk-table">
                            <caption class="govuk-table__caption">
                                <div class="govuk-table__caption--m">Result set 2</div>
                            </caption>

                            <tbody class="govuk-table__body">
                            {% for result in resultsB.results %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <div class="result-index">
                                            <span title="Score: {{ result.score }}">{{ loop.index }}</span>
                                        </div>
                                    </td>
                                    <td class="govuk-table__cell">
                                        {% if result.notes | length > 0 %}
                                            <p class="notes">{{ result.notes | escape }}</p>
                                        {% else %}
                                            <p>No notes</p>
                                        {% endif %}
                                        {{ govukDetails({
                                            summaryText: "Details",
                                            html: "<p><strong>Date</strong>: " + (result.date | formatDate) + " " + (result.startTime | default('')) + "</p>
                                                   <p><strong>Type</strong>: " + result.typeDescription + "</p>
                                                   <p><strong>Outcome</strong>: " + (result.outcomeDescription | default('')) + "</p>
                                                   <p><a target='delius' href='" + deliusUrl + "/NDelius-war/delius/JSP/deeplink.xhtml?component=Contact&componentId=" + result.id + "'>View in Delius</a></p>"
                                        }) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <p>Loaded {{ resultsB.results | length }} results in {{ resultsB.timeTaken }}</p>
                    {% else %}
                        <p class="govuk-body">No results</p>
                    {% endif %}
                </div>
            </div>
            {{ govukDetails({
                summaryText: "System information",
                html: "<pre>" + ({ "crn": crn, "query": query, "resultSet1": resultsA, "resultSet2": resultsB } | dump(2) | escape) + "</pre>"
            }) }}
        {% endif %}
    </div>
{% endblock %}
