{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Contacts" %}
{% set mainClasses = "app-container govuk-body govuk-!-padding-top-1" %}
{% set headerLink = "/contacts/search" %}

{% block beforeContent %}
    {{ govukBackLink({ text: "Back", href: "/contacts/search" }) }}
    <span class="govuk-body-s govuk-!-display-inline-block">| {{ crn }}</span>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-!-margin-bottom-5">
            <div class="moj-search">
                <form id="search-form" method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    {{ govukInput({
                        classes: 'moj-search__input',
                        label: {
                            text: 'Search for contacts',
                            classes: 'moj-search__label govuk-label--l',
                            isPageHeading: true
                        },
                        hint: {
                            html: "Search for contacts by notes, type, or outcome."
                        },
                        id: 'contact-search-input',
                        name: 'contact-search-input',
                        type: 'search',
                        value: query
                    }) }}

                    {{ govukButton({
                        classes: 'moj-search__button',
                        text: 'Search'
                    }) }}
                </form>
            </div>
        </div>
        <ul class="govuk-!-margin-bottom-7">
            <li>Search results are sorted by the contacts deemed most similar to your search term.</li>
            <li>Results will include words, phrases, synonyms, misspellings, and probation-specific acronyms.</li>
            <li>Up to 1,000 contacts can be retrieved, typically covering a person's entire contact log.</li>
        </ul>
        {% if query %}
            <div class="govuk-grid-row contact-search-comparison">
                <div class="govuk-grid-column-full">
                    {% if results and results.results | length > 0 %}
                        <table class="govuk-table">
                            <caption class="govuk-table__caption">
                                <div class="govuk-table__caption--m">Results</div>
                            </caption>

                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header"></th>
                                <th scope="col" class="govuk-table__header" aria-sort="{{ sortByDate }}">
                                    <button name="sortByDate" type="submit" form="search-form"
                                            value="{{ 'ascending' if sortByDate == 'descending' else ('none' if sortByDate == 'ascending' else 'descending') }}">
                                        Date
                                    </button>
                                </th>
                                <th scope="col" class="govuk-table__header">Type</th>
                                <th scope="col" class="govuk-table__header">Outcome</th>
                                <th scope="col" class="govuk-table__header">Notes</th>
                                <th scope="col" class="govuk-table__header"></th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            {% for result in results.results %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <div class="result-index">
                                            <span title="Score: {{ result.score }}">{{ loop.index }}</span>
                                        </div>
                                    </td>
                                    <td class="govuk-table__cell govuk-table--small-text">{{ (result.date | formatDate) + " " + (result.startTime | default('')) }}</td>
                                    <td class="govuk-table__cell govuk-table--small-text">
                                        <span class="{{ 'highlighted-text' if 'type' in result.highlights }}">{{ result.typeDescription }}</span>
                                    </td>
                                    <td class="govuk-table__cell govuk-table--small-text">
                                        <span class="{{ 'highlighted-text' if 'outcome' in result.highlights }}">{{ result.outcomeDescription | default('') }}</span>
                                    </td>
                                    <td class="govuk-table__cell govuk-table--small-text">
                                        {% if result.notes | length > 0 %}
                                            <p class="notes">
                                                {%- if 'notes' in result.highlights -%}
                                                    {%- for note in result.highlights.notes -%}
                                                        <span>{{ note | safe }}</span>
                                                        {% if not loop.last %}&hellip;{% endif %}
                                                    {%- endfor -%}
                                                {%- else -%}
                                                    {{- result.notes -}}
                                                {%- endif -%}
                                            </p>
                                        {% else %}
                                            <p>No notes</p>
                                        {% endif %}
                                    </td>
                                    <td class="govuk-table__cell govuk-table--small-text">
                                        <a target="delius"
                                           href="{{ deliusUrl }}/NDelius-war/delius/JSP/deeplink.xhtml?component=Contact&componentId={{ result.id }}">
                                            Open&nbsp;in&nbsp;Delius
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <p>Loaded {{ results.results | length }} results in {{ results.timeTaken }}</p>
                    {% else %}
                        <p class="govuk-body">No results</p>
                    {% endif %}
                </div>
            </div>
            {{ govukDetails({
                summaryText: "System information",
                html: "<pre>" + ({ "crn": crn, "query": query, "results": results } | dump(2) | escape) + "</pre>"
            }) }}
        {% endif %}
    </div>
{% endblock %}
