.govuk-main-wrapper {
  min-height: 600px;
}

.example-output {
  background-color: govuk-colour('light-grey');
  border: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(4);
  padding: govuk-spacing(4);
}