.govuk-main-wrapper {
  min-height: 600px;
}

.examples-list > li {
  margin-top: govuk-spacing(8);

  code {
    background-color: govuk-colour('light-grey');
    border: 1px solid $govuk-border-colour;
    padding: 0 2px;
  }

  pre {
    border-bottom: 1px solid $govuk-border-colour;
    border-top: 1px solid $govuk-border-colour;
    padding-top: govuk-spacing(4);
  }

  .example-output {
    border: 1px solid $govuk-border-colour;
    padding: govuk-spacing(4);
  }
}

.contact-search-comparison {
  .notes {
    background-color: #f0f5f7;
    border-radius: 6px;
    font-size: smaller;
    max-height: 400px;
    overflow-wrap: anywhere;
    overflow-y: auto;
    padding: 10px 12px;
    white-space: pre-wrap;
  }
  .result-index {
    cursor: default;
    white-space: nowrap;
  }
  .notes em, .highlighted-text {
    background-color: mix(govuk-colour("yellow"), white, 25%);
    font-style: normal;
  }
}