$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

.probation-search__form {
  background-color: $govuk-brand-colour;
  padding-top: govuk-spacing(5);

  .govuk-form-group {
    margin-bottom: 0;
  }
}

.probation-search__input-container {
  @include govuk-width-container;
  @include govuk-clearfix;
  margin-bottom: govuk-spacing(4);

  .govuk-label, .govuk-link, .govuk-hint {
    color: govuk-colour("white");
  }
}

.probation-search__results-container {
  @include govuk-width-container;
}

.probation-search__has-results {
  & ~ .govuk-width-container > .govuk-main-wrapper {
    display: none; // hide welcome content when results are rendered
  }
}

.probation-search__suggestions {
  color: govuk-colour("white");
  float: left;
  margin-top: govuk-spacing(2)
}

.govuk-phase-banner {
  border-bottom: none;
}

.app-national-search-filter {
  background-color: govuk-colour("light-grey");

  legend {
    font-weight: $govuk-font-weight-bold;
    margin-bottom: 0;
    padding: govuk-spacing(2);
  }

  fieldset > div {
    background-color: govuk-colour("white");
    border: 5px solid govuk-colour("light-grey");
    border-top: 0;
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: govuk-spacing(2) 0 govuk-spacing(2) govuk-spacing(4);
  }
}

.app-national-search-add {
  float: right;
  margin-top: 35px;
}

.app-national-search-help {
  background: govuk-colour("black");
  float: right;
  padding: 15px 20px 20px 20px;
  margin-bottom: 0;
  @include govuk-typography-weight-bold
}

.highlighted-text {
  background-color: mix(govuk-colour("yellow"), white, 25%);
}

.app-risk-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0;
  padding: 0;

  &.app-risk-icon--green {
    background: govuk-colour("light-green");
  }

  &.app-risk-icon--amber {
    background: govuk-colour("yellow");
  }

  &.app-risk-icon--red {
    background: $govuk-error-colour;
  }
}

.app-search-input {
  position: relative;
  height: auto;
  z-index: 1;
}

img.app-result-image {
  border: 2px solid $govuk-border-colour;
  max-width: 120px;
  width: 100%;
}

.app-result {
  margin-bottom: govuk-spacing(5)
}

.app-result-text {
  border-left: $govuk-border-width solid $govuk-border-colour;
}

.app-search-hint {
  background: linear-gradient(90deg, govuk-colour("black") 0%, govuk-colour("black") 75%, white 100%);
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 1px;
  position: relative;

  &:before {
    background: linear-gradient(90deg, govuk-colour("light-grey") 0%, govuk-colour("light-grey") 75%, white 100%);
    content: attr(data-hint);
    display: inline-block;
    padding: 15px 45px 15px 15px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 50px;
    height: 52px;
    background: url("../images/icon-search-help.png") no-repeat top left / 50px 51px;
    @media only screen and (min-resolution: 124.8dpi) {
      background: url("../images/icon-search-help-2x.png") no-repeat top left / 50px 51px;
    }
  }
}

.view-offender-link {
  box-shadow: none !important;
  padding: govuk-spacing(1) 0;
}

.govuk-pagination {
  justify-content: center;
}