{% extends "../partials/layout.njk" %}
{% from "probation/case-search/macro.njk" import caseSearch %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <h1 class="govuk-heading-xl">Examples</h1>
    <div class="govuk-!-width-two-thirds">
        <p>
            A collection of examples showing how the
            <a href="https://www.npmjs.com/package/@ministryofjustice/probation-search-frontend">probation-search-frontend</a>
            UI component can be configured.
            To include this component in your service, follow the instructions to
            <a href="https://www.npmjs.com/package/@ministryofjustice/probation-search-frontend#get-started">get started</a>.
        </p>

        <ul class="examples-list govuk-list">
            <li>
                <h2 class="govuk-heading-l">Basic example</h2>
                <p>The component sets sensible defaults, and requires little additional configuration, so this basic
                    example should be all you need for most services.</p>
                <h3 class="govuk-heading-m">Code:</h3>
                <pre>{% raw %}
{{ caseSearch({
    id: "basic",
    results: searchResults }) }}
                {% endraw %}</pre>
                <p>
                    The only required fields are <code>id</code> and <code>results</code>.
                    The <code>searchResults</code> value is set up for you by the router
                    (see
                    <a href="https://www.npmjs.com/package/@ministryofjustice/probation-search-frontend#3-configure-the-express-routes">Configuring
                        the Express routes</a>),
                    and should always be passed in to <code>results</code>.
                </p>
                <h3 class="govuk-heading-m">Output:</h3>
                <div class="example-output">
                    {{ caseSearch({
                        id: "basic",
                        results: searchResults }) }}
                </div>
            </li>

            <li>
                <h2 class="govuk-heading-l">Custom wording</h2>
                <p>Any wording in the component can be overridden to suit your service's needs.</p>
                <h3 class="govuk-heading-m">Code:</h3>
                <pre>{% raw %}
{{ caseSearch({
    id: "custom-wording",
    results: searchResults,
    label: {
        text: "Who is this referral for?",
        classes: "govuk-label--l"
    },
    hint: {
        html: "Use the box below to find the &lt;strong&gt;probation case&lt;/strong&gt; you are making a referral for."
    }
}) }}
        {% endraw %}</pre>
                <h3 class="govuk-heading-m">Output:</h3>
                <div class="example-output">
                    {{ caseSearch({
                        id: "custom-wording",
                        results: searchResults,
                        label: {
                            text: "Who is this referral for?",
                            classes: "govuk-label--l"
                        },
                        hint: {
                            html: "Use the box below to find the <strong>probation case</strong> you are making a referral for."
                        }
                    }) }}
                </div>
            </li>
        </ul>
    </div>
{% endblock %}