{% extends "../partials/layout.njk" %}
{% from "probationSearch/macro.njk" import probationSearch %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-!-width-two-thirds">
    {{ probationSearch({ id: "search", name: "search", results: probationSearchResults }) }}
  </div>

{% endblock %}