{% extends "../partials/layout.njk" %}
{% from "../component/search/macro.njk" import probationSearch %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-!-width-two-thirds">
    {{ probationSearch({
      id: "search",
      name: "search",
      label: {
        text: "Search for people on probation",
        classes: "govuk-heading-l",
        isPageHeading: true
      },
      results: probationSearchResults
    }) }}
  </div>

{% endblock %}