{% extends "../../partials/layout.njk" %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% set mainClasses = "app-container govuk-body" %}

{% block pageTitle %}HMPPS - National Search{% endblock %}

{% block header %}
    {% include "pages/deliusSearch/phaseBanner.njk" %}

    <div class="govuk-width-container">
        <a class="app-national-search-add govuk-link govuk-link--inverse govuk-body"
           href="javascript:"
           id="add-new-person-link"
           tabindex="3"
           title="Add a new person">Add a new person</a>
    </div>

    {%- include "./form.njk" -%}

    <div id="search-results-container"
         class="probation-search__results-container{{ ' probation-search__has-results' if searchResults.results else '' }}">
        {% if searchResults.errorMessage %}
            <div class="govuk-error-summary">
                <h2 class="govuk-error-summary__title">There is a problem</h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#search">{{ searchResults.errorMessage.text }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% elif searchResults.query != null %}
            {%- include "./results.njk" -%}
        {% else %}
            <h3 class="govuk-heading-m">Find people by using any combination of:</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>name and date of birth</li>
                <li>CRN, PNC and National Insurance numbers</li>
                <li>aliases and other recorded dates of birth</li>
                <li>towns and postcodes</li>
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block head %}
    <link href="/assets/stylesheets/new-tech.css?{{ version }}" rel="stylesheet" />
{% endblock %}

{% block bodyEnd %}
    <script src="/assets/govuk/all.bundle.js"></script>
    <script type=module src="/assets/govukFrontendInit.js"></script>
    <script src="/assets/moj/all.js"></script>
    <script src="/assets/mojFrontendInit.js"></script>
    <script nonce="{{ cspNonce }}">deliusUrl = {{ deliusUrl | dump | safe }};</script>
    <script src="/assets/delius.js"></script>
    {% include "../../partials/sentry.njk" %}
{% endblock %}
