{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
<div class="govuk-width-container">
{{ govukPhaseBanner({
    tag: { text: "Beta" },
    html: 'This is a new service – your <a class="govuk-link" href="https://docs.google.com/forms/d/e/1FAIpQLSeqCGcg8l6obob1_uUb_OP6SS3Nj78Sny4V2CuBpmtp294WpA/viewform" title="Feedback: opens in a new window" target="_blank">feedback</a> will help us to improve it. Access the <a class="govuk-link" href="javascript:" id="previous-search-link" title="Use the previous search" tabindex="1">previous search</a> here.'
}) }}
</div>